.main{
  margin: 0 auto ;
}
.form{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  width: 180px;
}
.formInput {
  padding-left: 10px;
  height: 25px;
  border-radius: 6px;
  background: #E1E1E1;
  border: none;
}
.formButton {
  border-radius: 6px;
  border: none;
}
.answerBlock {
  text-align: left;
  margin: 20px;
  font-size: 14px;
}
